{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
{% set letters = ['M', ['A', 'L'], 'B', ['E', 'C']] %}
{% set locale = craft.i18n.getCurrentLocale() %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<link rel="home" href="{{ siteUrl }}" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="The Space InBetween" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    {{ htmlHeader.htmlHeader|raw }}

	<link href='/build/app.css?v=2' rel='stylesheet'/>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' rel='stylesheet' />

	<title>{% if entry.title is defined and entry.title != 'Homepage' %}{{ entry.title }} - {% endif %}{{ siteName }}</title>

	<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff ">
	<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff ">

    {{ htmlHeader.endOfHead|raw }}
</head>

{% if locale.id == 'zh' %}
    <body class="{{ entry.section.handle }} chinese">
{% else %}
    <body class="{{ entry.section.handle }}">
{% endif %}

    {{ htmlHeader.startOfBody|raw }}

	{% include 'partials/_notification' %}

	{% include 'partials/_header' %}

	<main id="content" role="main">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	{% include 'partials/_footer' %}

	<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js"></script>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js"></script>
	<script src="/build/app.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>
